<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Personas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./estilos.css">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #1690a0;">
        <div class="container-fluid">
            <a class="navbar-brand"  th:href="@{login.html}">
                <img th:src="@{/img/logo central.jpg}" style= "height: 40px; border-radius: 100%"  id="imagen"/>
                Sintefut
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="main.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/views/administradorCentro/guardarA}">Registrar Administradores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/views/canchas/listar}">Cancha</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/views/personas/listar}">Personas</a>
                    </li>

                    <div class="barra"></div>
                    <!-- <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>-->
                </ul>
            </div>


            <form class="d-flex">
                <input class="form-control me-2" id="elementoClicable" type="search" placeholder="¿Que deseas buscar hoy? " aria-label="Search">
                <button class="btn btn-dark" type="submit">Buscar</button>
            </form>



        </div>
    </nav>
</header>
<div class="container mt-4">
    <a th:href="@{/views/administradorCentro/guardarA}" class="btn btn-primary">Nuevo</a>
    <table class="table" border="3">
        <thead>
        <tr>
            <th>ID</th>
            <th>IDENTIFICACION</th>
            <th>PRIMRE NOMBRE</th>
            <th>SEGUNDO NOMBRE</th>
            <th>PRIMER APELLIDO</th>
            <th>SEGUNDO APELLIDO</th>
            <th>EMAIL</th>
            <th>FECHA DE NACIMIENTO</th>

            <th>ACCIONES</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="administradorCentros:${administradorCentro}">
            <td th:text="${administradorCentros.id}"></td>
            <td th:text="${administradorCentros.identificacion}"></td>
            <td th:text="${administradorCentros.primerNombre}"></td>
            <td th:text="${administradorCentros.segundoNombre}"></td>
            <td th:text="${administradorCentros.primerApellido}"></td>
            <td th:text="${administradorCentros.segundoApellido}"></td>
            <td th:text="${administradorCentros.email}"></td>
            <td th:text="${administradorCentros.fechaNacimiento}"></td>



            <td>
                <a th:href="@{/views/administradorCentro/eliminar}+${administradorCentros.id}"  class="btn btn-danger">Eliminar</a>
            </td>


        </tr>
        </tbody>
    </table>
</div>





</body>
</html>