<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->

<html lang="en" xmlns:th="https://www.thymeleaf.org">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Muestra de un formulario de acceso en HTML y CSS">
        <meta name="keywords" content="Formulario Acceso, Formulario de LogIn">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
        <!-- Link hacia el archivo de estilos css -->
        <link rel="stylesheet" href="../personas/registro_personas.css">
        
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
        
    </head>
    
    <body>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Registrate
                    </div>
                    <form id="loginform" th:action="@{/save}" th:object="${persona}" method="post">
                        <input type="text" name="first-name" placeholder="Primer nombre" required>

                        <input type="text" name="second-name" placeholder="Segundo nombre" required>

                        <input type="text" name="first-last-name" placeholder="Primer apellido" required>

                        <input type="text" name="second-last-name" placeholder="Segundo apellido" required>

                        <input type="email" name="correo" placeholder="Correo" required>
                        
                        <span>Fecha de nacimiento</span>
                        <input type="date" name="date" required>

                        <input type="password" placeholder="Contraseña" name="password" required>
                        
                        <button type="submit" title="Ingresar" name="Ingresar"><a href="../index.html">Registrarse</a></button>
                    </form>

                </div>
            </div>
        </div>
            
    </body>
</html>