body {
    font-family: Arial, sans-serif;
    background-color: #139c4a;
    margin: 0;
    padding: 0;
  }
  

  .main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  h2 {
    text-align: center;
    color: #333;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #04ff96;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(1) {
    background-color: #333;
    color: rgb(0, 0, 0);
  }
  
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  tr:nth-child(odd) {
    background-color: #fff;
  }
  
.btn{
  background-color: #36c971;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn a{
  text-decoration: none;
  background-color: #36c971;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}