<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scale:1.0, maximum-scale:1.0, minimum-scale:1.0">
    <title>SINTEFUT</title>
    <link rel="stylesheet" href="../css/quienes_somos.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <nav class="nav">
                <div class="icon-top">
                    <a href="/index.html" class="logo nav-link" ><img src="/css/img/entrada-de-balon-de-futbol-centrada-en-arco.png" alt=""></a>
                </div>
                <div class="nav-bar">

                    <ul class="nav-menu">
                        <li class="nav-menu-item"><a href="../index.html" class="nav-menu-link nav-link">Home</a></li>
                        <li class="nav-menu-item"><a href="#contacto" class="nav-menu-link nav-link">Contacto</a></li>
                        <li class="nav-menu-item"><a href="./quienes_somos.html" class="nav-menu-link nav-link">Quienes somos</a></li>
                        <li class="nav-menu-item"><a href="./reserva.html" class="nav-menu-link nav-link">Reservar</a></li>
                        <li class="nav-menu-item"><a href="./login.html" class="nav-menu-link nav-link">Iniciar sesion</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>

        <div class="contenido-main">

            <div class="quienes-somos">
                <h1>¿Quienes somos?</h1>
                <p>Somos una empresa dedicada a la innovación en la gestión de instalaciones deportivas, con un enfoque en la optimización de la reserva de canchas sintéticas en la ciudad de Neiva. Nuestra pasión por el deporte y la tecnología nos impulsa a ofrecer soluciones que simplifiquen la experiencia de usuarios y dueños de canchas, brindando mayor comodidad, eficiencia y acceso a instalaciones deportivas de alta calidad.</p>
            </div>

            <div class="mision">
                <h1>Mision</h1>
                <p>Nuestra misión es desarrollar y mantener un sistema de información innovador que simplifique el proceso de reserva de canchas sintéticas y brinde a los usuarios información actualizada sobre instalaciones, horarios, tarifas y servicios adicionales. Aspiramos a facilitar la gestión eficiente de reservas para los administradores y a implementar soluciones de pago en línea seguras. Estamos comprometidos a notificar a nuestros usuarios sobre sus reservas y eventos relacionados, como descuentos o promociones. Nuestra plataforma tiene como objetivo mejorar la experiencia de los usuarios y contribuir al éxito de las instalaciones deportivas en Neiva.</p>
            </div>
            <div class="vision">
                <h1>Vision</h1>
                <p>Nuestra visión es convertirnos en la principal plataforma de reserva de canchas sintéticas en Neiva, siendo reconocidos por la agilidad, confiabilidad y facilidad de uso de nuestros servicios. Buscamos transformar la forma en que la comunidad interactúa con las instalaciones deportivas, priorizando la comodidad y la eficiencia a través de la tecnología.</p>
            </div>
            <div class="video">
                <video width="640" height="360" controls src="../css/img/stock-footage-beautiful-football-goal-at-world-cup-match-qatar-colors-ball-flies-into-net-on-playground-in-slow.webm"></video>
            </div>
        </div>

    </main>

    <footer>
        <div class="footer-content">
            <div class="contact-info" id="contacto">
                <h3>Contacto</h3>
                <p>Teléfono: +57 300 741 6380</p>
            </div>
            <div class="social-media">
                <h3>Redes Sociales</h3>
                <ul>
                    <li><a href="#"><img src="../css/img/facebook-svgrepo-com (1).svg" alt=""></a></li>
                    <li><a href="#"><img src="../css/img/twitter-svgrepo-com (1).svg" alt=""></a></li>
                    <li><a href="#"><img src="../css/img/instagram-svgrepo-com.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="/js/index.js"></script>
</body>
</html>