<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/reserva.css">
  <title>Horarios de Disponibilidad</title>
</head>
<body>
  <div class="main">
    <div class="container">
      <h2>Horarios de Disponibilidad para tu Reserva</h2>

      <table border="1">
        <tr>
          <th>Día</th>
          <th>Tarde</th>
          <th>Noche</th>
        </tr>
        <tr>
          <td><button>06-07</button></td>
          <td><button>12-01</button></td>
          <td><button>06-07</button></td>
        </tr>
        <tr>
          <td><button>07-08</button></td>
          <td><button>01-02</button></td>
          <td><button>07-08</button></td>
        </tr>
        <tr>
          <td><button>08-09</button></td>
          <td><button>02-03</button></td>
          <td><button>08-09</button></td>
        </tr>
        <tr>
          <td><button>09-10</button></td>
          <td><button>03-04</button></td>
          <td><button>09-10</button></td>
        </tr>
        <tr>
          <td><button>10-11</button></td>
          <td><button>04-05</button></td>
          <td><button>10-11</button></td>
        </tr>
        <tr>
          <td><button>11-12</button></td>
          <td><button>05-06</button></td>
          <td><button>11-12</button></td>
        </tr>
      </table>

    </div>  <br>
    <button class="btn">Pagar reserva</button> <br><br>
    <button class="btn"><a href="../index.html"> Volver </a> </button>
  </div>
</body>
</html>